/* Semi resets */

html,
body,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

/* Actually doing stuff */

/*Dark mode toggle*/
body > input {
  visibility: hidden;
  display: none;
}

body > label {
  position: absolute;
  display: block;
  padding: 0.25em 0.25em 0.25em 1.75em;
  background-color: #ff7f50;
  z-index: 97;
}

body > label::before,
body > label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

body > label::before {
  height: 1em;
  width: 1em;
  border: 1px solid;
  left: 3px;
  top: 3px;
}

body > label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 7px;
  top: 7px;
}

body > input[type="checkbox"] + label::after {
  content: none;
}

body > input[type="checkbox"] + label {
  color: white;
}

@media (min-width: 600px) and (prefers-color-scheme: dark) {
  html::before {
    content: "";
    background-color: black;
    display: flex;
    z-index: 98;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
/* When dark-mode is toggled*/
body > input[type="checkbox"]:checked + label {
  color: black;
}

body > input[type="checkbox"]:checked + label::after {
  content: "";
}

body > input:checked ~ main {
  --secondary-color: #000;
}

body > input:checked ~ main section:nth-of-type(1)::before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0) 70%
  );
}

body > input:checked ~ main section:nth-of-type(5):target div li {
  background: rgba(0, 0, 0, 0.75);
}

body > input:checked ~ main section:target:nth-of-type(3) article::after {
  color: black;
}

body > input:checked ~ main section:nth-of-type(2):target article {
  transition: 1s;
  color: black;
}
body > input:checked ~ main section:target:nth-of-type(3) article > marquee {
  color: coral;
  mix-blend-mode: difference;
  filter: none;
}

main section:target:nth-of-type(3) article > marquee {
  color: coral;
  filter: blur(4px);
}

/*Regular old light theme*/
:root {
  --secondary-color: #fff;
}

@font-face {
  font-family: "ransom";
  src: url("../font/rans.ttf");
}

* {
  animation: cursor 1s infinite;
}

::selection {
  color: #ff7f50;
  background-color: #ff7f50;
}

body {
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

main section:nth-of-type(1)::before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0) 70%
  );
}
main section:nth-of-type(5):target div li {
  background: rgba(0, 0, 0, 0.75);
}

main section:target:nth-of-type(3) article::after {
  color: black;
}

/* Navbar */

nav {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
  transition: 2s;
  z-index: 5;
}

nav svg {
  overflow: visible;
}

nav svg circle {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  opacity: 0.75;
  transition: stroke 2s, opacity 2s, fill 2s;
  stroke-width: 0;
}

nav svg text {
  stroke: #ff7f50;
  fill: #ff7f50;
  transition: 2s;
}

nav svg > ellipse:first-child {
  display: flex;
  visibility: visible;
  opacity: 0.75;
  fill: none;
  stroke-width: 25;
  stroke: var(--secondary-color);
  transition: stroke 2s, opacity 2s;
}

main section:target ~ nav {
  transition: 2s;
}

main section:target ~ nav::after {
  visibility: hidden;
  transition: 0s;
}

main section ~ nav::after {
  visibility: visible;
  content: "Press the button top left to switch between light- and dark-mode. \a The eye above is your menu. \a Good luck.";
  color: var(--secondary-color);
  white-space: pre;
  text-align: center;
  line-height: 2em;
  position: absolute;
  display: block;
  z-index: 97;
  transition: 2s;
  margin-top: 3em;
  margin-left: -0.5rem;
  transition: color 2s;
}

nav svg a ellipse {
  display: none;
  visibility: hidden;
  opacity: 0;
}

main section:nth-of-type(2):target ~ nav svg > ellipse,
main section:nth-of-type(3):target ~ nav svg > ellipse {
  stroke: #ff7f50;
}
main section:nth-of-type(2):target ~ nav svg circle,
main section:nth-of-type(3):target ~ nav svg circle {
  fill: #ff7f50;
}

main section:nth-of-type(2):target ~ nav svg text,
main section:nth-of-type(3):target ~ nav svg text {
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}

main section:target ~ nav svg ellipse {
  display: flex;
  visibility: visible;
}

main section:nth-of-type(1):target ~ nav {
  margin-top: 50%;
  margin-right: 50%;
}
main section:nth-of-type(2):target ~ nav {
  margin-top: 50vh;
}
main section:nth-of-type(3):target ~ nav {
  margin-left: 50vw;
}
main section:nth-of-type(4):target ~ nav {
  margin-left: -50vw;
}
main section:nth-of-type(5):target ~ nav {
  margin-top: -50vh;
}

/* Standard section stuff (inheritance) */

section {
  visibility: hidden;
  display: none;
  width: 100%;
  height: 100%;
}

section:target {
  visibility: visible;
  display: flex;
  transition: 2s;
  position: absolute;
}

/*make index.html visible even though it cant be the target (just in case)*/
main section:first-child:not(:target) {
  visibility: visible;
  display: flex;
}

/* Home */

main section:nth-of-type(1) {
  position: absolute;
  background-color: #ff7f50;
  overflow: hidden;
  transition: 2s;
}
main section:nth-of-type(1)::before {
  opacity: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  animation: scanner 5s alternate linear infinite;
}

main section:target ~ nav {
  background-color: none;
  background: none;
  padding: inherit;
  transition: margin 2s;
}
main section:not(target) ~ nav {
  background-color: #ff7f50;
  padding: 100%;
  transition: margin 2s;
}

/* appetizers */
main section:target:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  transition: 2s;
  background-color: var(--secondary-color);
  background-image: radial-gradient(#ff7f50 15%, transparent 16%),
    radial-gradient(#ff7f50 15%, transparent 16%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  animation: swipe 2s forwards;
  top: -100%;
}

main section:target:nth-of-type(2) h1 {
  margin: 0 auto;
  font-size: 20vw;
  color: #ff7f50;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5rem;
  -webkit-text-stroke-color: #ff7f50;
}
main section:nth-of-type(2) > div {
  display: grid;
  width: 100%;
  height: 50%;
  align-self: center;
  padding: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 2rem;
}

main section:nth-of-type(2) div article div {
  background: #ff7f50;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  transition-delay: opacity 1s linear 6000s, color 3s linear 1s;
  box-shadow: 0 1px 8px #ff7f50;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

main section:nth-of-type(2) div article:hover {
  opacity: 0;
  transition: 2s;
  transition-delay: 0.5s;
}

main section:nth-of-type(2) div article {
  transition-delay: 6000s;
  color: var(--secondary-color);
}

main section:nth-of-type(2) div article:hover div {
  box-shadow: none;
  animation: shake 0.75s forwards;
  animation-iteration-count: 5;
  transition-delay: 1s;
  transition: 1s;
  background-color: var(--secondary-color);
}

main section:nth-of-type(2) div article h2 {
  font-size: 1rem;
}

/* soups */
main section:target:nth-of-type(3):hover article > marquee {
  visibility: hidden;
}

main section:target:nth-of-type(3) article > marquee {
  font-family: "ransom";
  visibility: visible;
  position: absolute;
  display: block;
  color: var(--secondary-color);
  font-size: 8vw;
  letter-spacing: 1em;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

main section:target:nth-of-type(3) article marquee marquee {
  width: 100vw;
}

main section:target:nth-of-type(3) article {
  perspective: 18em;
  width: 100vw;
  height: 100vh;
  background-color: #ff7f50;
  position: relative;
  animation: camTarget 5s infinite ease-in-out, camFocus 1.3s infinite alternate;
}

main section:target:nth-of-type(3) article div {
  position: absolute;
  background-image: -webkit-gradient(
      linear,
      0 100%,
      100% 0,
      color-stop(0.25, var(--secondary-color)),
      color-stop(0.25, transparent)
    ),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, var(--secondary-color)), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, var(--secondary-color))),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, var(--secondary-color)));
  animation: party-mode 5s infinite ease-in-out alternate;
  background-position: 0 0, 3em 0, 3em -3.25em, 0px 3.25em;
}

main section:target:nth-of-type(3) article div:nth-of-type(5) {
  background-color: #ff7f50;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotateX(90deg);
  transition: bottom 5s;
  transition-timing-function: ease-in;
  height: 37.5em;
  width: 100vw;
}

main section:target:nth-of-type(3) article div:nth-of-type(5):hover {
  transition: 1s;
  bottom: -50vh;
}

main section:target:nth-of-type(3) article div:nth-of-type(2) {
  background-color: #ff7f50;
  top: 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
  transition: top 5s;
  transition-timing-function: ease-in;
  height: 37.5em;
  width: 100vw;
}

main section:target:nth-of-type(3) article div:nth-of-type(2):hover {
  transition: 1s;
  top: -50vh;
}

main section:target:nth-of-type(3) article div:nth-of-type(3) {
  background-color: #ff7f50;
  left: 0;
  transform-origin: left center;
  transform: rotateY(90deg);
  height: 100vh;
  width: 37.5em;
  transition: left 5s;
  transition-timing-function: ease-in;
}

main section:target:nth-of-type(3) article div:nth-of-type(3):hover {
  transition: 1s;
  left: -50vw;
}

main section:target:nth-of-type(3) article div:nth-of-type(4) {
  background-color: #ff7f50;
  right: 0;
  transform-origin: right center;
  transform: rotateY(-90deg);
  height: 100vh;
  width: 37.5em;
  transition: right 5s;
  transition-timing-function: ease-in;
}

main section:target:nth-of-type(3) article div:nth-of-type(4):hover {
  transition: 1s;
  right: -50vw;
}

main section:target:nth-of-type(3) article div:first-of-type {
  height: 100vh;
  width: 100vw;
  background-color: #ff7f50;
  transform: translateZ(-37.5em);
}

main section:target:nth-of-type(3) article header h1 {
  margin: 0;
  position: absolute;
  color: #ff7f50;
  letter-spacing: 0.5em;
  font-size: 16vh;
  height: 20vh;
  width: 75vw;
  text-align: center;
  transform: translateZ(-18.75em) skewY(-12deg);
  background-color: var(--secondary-color);
  text-shadow: 0.5em 0.5em 0px #ff7f50, -0.5em -0.5em 0px #ff7f50cc,
    0.25em 0.25em 0px #ff7f50cc, -0.25em -0.25em 0px #ff7f50cc, 0 0 2em #ff7f50;
}

main section:target:nth-of-type(3) article header h1:nth-child(1) {
  width: 50vw;
  transform-origin: left center;
  transform: translateZ(-600px) rotateY(-30deg) scaleY(1.4);
  background-color: var(--secondary-color);
}

main section:target:nth-of-type(3) article header h1:nth-child(2) {
  transform: translateZ(-250px) skewY(-6deg) scaleY(1.4);
  background-color: var(--secondary-color);
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -10vh;
}

main section:target:nth-of-type(3) article header h1:nth-child(3) {
  width: 35vw;
  right: 5vw;
  bottom: 2vw;
  transform-origin: right center;
  transform: rotateY(-40deg) scaleY(1.4);
}

/* entrees */
main section:target:nth-of-type(4) {
  background-color: var(--secondary-color);
  background: linear-gradient(115deg, transparent 89%, #ff7f50cc 0) -128px -96px,
    linear-gradient(-115deg, transparent 89%, #ff7f5044 0) 22px -96px,
    linear-gradient(-115deg, #ff7f50dd 11%, transparent 0) -128px 54px,
    linear-gradient(115deg, #ff7f5044 11%, transparent 0) 22px 54px,
    linear-gradient(-25deg, #ff7f50bb 11%, transparent 0) -128px -22px,
    linear-gradient(25deg, transparent 89%, #ff7f5099 0) -128px 128px,
    linear-gradient(25deg, #ff7f50ee 11%, transparent 0) 22px -22px,
    linear-gradient(-25deg, transparent 89%, #ff7f5088 0) 22px 128px,
    linear-gradient(-25deg, #ff7f5022 11%, transparent 0) -53px -96px,
    linear-gradient(25deg, transparent 89%, #ff7f50dd 0) -53px 54px,
    linear-gradient(25deg, #ff7f5044 11%, transparent 0) 97px -96px,
    linear-gradient(-25deg, transparent 89%, #ff7f50cc 0) 97px 54px,
    linear-gradient(115deg, transparent 89%, #ff7f50aa 0) -53px -21px,
    linear-gradient(-115deg, #ff7f50ee 11%, transparent 0) -53px 129px,
    linear-gradient(-115deg, transparent 89%, #ff7f50bb 0) 97px -21px,
    linear-gradient(115deg, #ff7f50dd 11%, transparent 0) 97px 129px;
  background-size: 150px 150px;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

main section:nth-of-type(4) p {
  background-color: var(--secondary-color);
  width: 20%;
  height: 20%;
  color: coral;
}

main section:nth-of-type(4) p:hover {
  background: coral;
  color: var(--secondary-color);
}

/* Desserts */
main section:nth-of-type(5):target article {
  animation: fadeIn 2s ease-in linear;
}

main section:nth-of-type(5):target::before {
  content: "";
  width: 3rem;
  height: 20rem;
  top: -8rem;
  left: 1rem;
  border: 3rem solid var(--secondary-color);
  background: transparent;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 1;
}

main section:nth-of-type(5):target::after {
  content: "";
  width: 3rem;
  height: 20rem;
  bottom: -8rem;
  right: 1rem;
  border: 3rem solid var(--secondary-color);
  background: transparent;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 1;
}

main section:nth-of-type(5):target article {
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;
  transition: margin-left 2s;
  margin-left: calc(50vw - 25vh);
  width: calc(50vh + 10px);
  height: calc(50vh + 10px);
}

main section:nth-of-type(5):target article svg {
  opacity: 0;
  transition: 3s;
  transition-delay: 1s;
}

main section:nth-of-type(5):target article svg {
  width: calc(50vh + 10px);
  height: calc(50vh + 10px);
  opacity: 1;
  transition: 3s;
  transition-delay: 1s;
}

main section:nth-of-type(5):target article svg rect {
  width: 50vh;
  height: 50vh;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  rx: 0;
  ry: 0;
  x: 5px;
  y: 5px;
  transition: rx 2s, ry 2s, fill 5s, stroke 5s;
}
main section:nth-of-type(5):target article svg:hover {
  transition: 1s;
  overflow: visible;
}

main section:nth-of-type(5):target article svg g:first-of-type path {
  display: flex;
  visibility: visible;
  fill: #ff7f50;
  transform: translateX(calc(50% - 30px)) translateY(calc(50% - 32px));
  opacity: 1;
  transition-delay: 2s;
  transition: opacity 3s;
}

main section:nth-of-type(5):target article svg:hover g:first-of-type path {
  opacity: 0;
  transition-delay: 2s;
  transition: opacity 2s;
}

main section:nth-of-type(5):target article svg:hover rect {
  rx: 50vh;
  ry: 50vh;
  transition: 3s;
}

main section:nth-of-type(5):target article svg text {
  opacity: 0;
  transition-delay: 5s;
  transform: translateX(35%) translateY(20%);
  transition: opacity 2s, transform 0s;
}

main section:nth-of-type(5):target article svg:hover text {
  opacity: 1;
  transition: 2s;
  fill: #ff7f50;
  stroke: #ff7f50;
}

main section:nth-of-type(5):target div {
  background: #ff7f50;
  width: 100%;
  height: 100vh;
  position: absolute;
}

main section:nth-of-type(5):target div li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.75);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

main section:nth-of-type(5) div li:nth-child(1) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

main section:nth-of-type(5) div li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

main section:nth-of-type(5) div li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

main section:nth-of-type(5) div li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

main section:nth-of-type(5) div li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

main section:nth-of-type(5) div li:nth-child(6) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

main section:nth-of-type(5) div li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

main section:nth-of-type(5) div li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

main section:nth-of-type(5) div li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

main section:nth-of-type(5) div li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* Keyframes */
/*Shaking appetizers items*/
@keyframes shake {
  0% {
    transform: translateX(-10px) translateY(10px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  40% {
    transform: translateX(-10px) translateY(10px);
  }
  60% {
    transform: translateX(0px) translateY(0px);
  }
  80% {
    transform: translateX(-10px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

/*Index background*/
@keyframes scanner {
  from {
    left: -170%;
  }
  to {
    left: 150%;
  }
}

/*desserts background*/
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*Fade in from left*/
@keyframes fadeIn {
  from {
    margin-left: -50vw;
  }
  to {
    margin-left: calc(50vw - 25vh);
  }
}

/*appetizers swipe / polkadot*/
@keyframes swipe {
  from {
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  to {
    top: 0;
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
  }
}

@keyframes party-mode {
  0% {
    background-size: 1em 1em;
  }
  100% {
    background-size: 5em 2em;
  }
}

/*Soup perspective*/
@keyframes camTarget {
  0% {
    perspective-origin: 50vw 40vh;
  }
  25% {
    perspective-origin: 40vw 50vh;
  }
  50% {
    perspective-origin: 50vw 60vh;
  }
  75% {
    perspective-origin: 60vw 50vh;
  }
  100% {
    perspective-origin: 50vw 40vh;
  }
}

@keyframes camFocus {
  0% {
    perspective: 19em;
  }
  50% {
    perspective: 22em;
  }
  100% {
    perspective: 19em;
  }
}

/* Annoying cursor */
@keyframes cursor {
  0% {
    cursor: url(../img/cursor/cursor1.png) 65 65, auto;
  }
  4% {
    cursor: url(../img/cursor/cursor2.png) 65 65, auto;
  }
  8% {
    cursor: url(../img/cursor/cursor3.png) 65 65, auto;
  }
  13% {
    cursor: url(../img/cursor/cursor4.png) 65 65, auto;
  }
  17% {
    cursor: url(../img/cursor/cursor5.png) 65 65, auto;
  }
  21% {
    cursor: url(../img/cursor/cursor6.png) 65 65, auto;
  }
  26% {
    cursor: url(../img/cursor/cursor7.png) 65 65, auto;
  }
  30% {
    cursor: url(../img/cursor/cursor8.png) 65 65, auto;
  }
  34% {
    cursor: url(../img/cursor/cursor9.png) 65 65, auto;
  }
  39% {
    cursor: url(../img/cursor/cursor10.png) 65 65, auto;
  }
  43% {
    cursor: url(../img/cursor/cursor11.png) 65 65, auto;
  }
  47% {
    cursor: url(../img/cursor/cursor12.png) 65 65, auto;
  }
  52% {
    cursor: url(../img/cursor/cursor13.png) 65 65, auto;
  }
  56% {
    cursor: url(../img/cursor/cursor14.png) 65 65, auto;
  }
  60% {
    cursor: url(../img/cursor/cursor15.png) 65 65, auto;
  }
  65% {
    cursor: url(../img/cursor/cursor16.png) 65 65, auto;
  }
  69% {
    cursor: url(../img/cursor/cursor17.png) 65 65, auto;
  }
  73% {
    cursor: url(../img/cursor/cursor18.png) 65 65, auto;
  }
  78% {
    cursor: url(../img/cursor/cursor19.png) 65 65, auto;
  }
  82% {
    cursor: url(../img/cursor/cursor20.png) 65 65, auto;
  }
  86% {
    cursor: url(../img/cursor/cursor21.png) 65 65, auto;
  }
  91% {
    cursor: url(../img/cursor/cursor22.png) 65 65, auto;
  }
  95% {
    cursor: url(../img/cursor/cursor23.png) 65 65, auto;
  }
  100% {
    cursor: url(../img/cursor/cursor24.png) 65 65, auto;
  }
}
